*{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
}

body{
    background: linear-gradient(to left,rgb(0, 0, 154),rgb(82, 2, 101),rgb(106, 1, 106));
   
}

.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: none;
}

.secondary-box{
    background-color: white;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    padding: 11px;
}

.work{
    width: 276.4px;
    height: 30.4px;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 9px;
    margin-right: -83px;
    font-size: 15px;
    border: none;
}

.work:focus,.create-button:focus{
    outline: none;
}

.create-button{
    height: 35.7px;
    border-radius: 20px;
    width: 81px;
    padding: 0;
    border: none;
    color: white;
    background: linear-gradient(to left,rgb(255, 47, 0),rgb(255, 179, 0));
    font-size: 15px;
    cursor: pointer;
}